# SPDX-FileCopyrightText: 2022 David Hurka <doxydoxy@mailbox.org>
#
# SPDX-License-Identifier: CC0-1.0 OR MIT

# This file must work with git-archive-all on ContentDB,
# which is buggy with the syntax.
/assets export-ignore
*/assets export-ignore
*/assets/ export-ignore
*/assets/* export-ignore
/screenshots export-ignore
/LICENSES export-ignore

# These are not necessary for minetest.
.* export-ignore
*.license export-ignore
